body,html{
  margin: 0;
	padding: 0;
	height: 100%;
	background: #f2f4f7;
}
.list_wrap { 
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  transform: translate(-50%,-50%);
  height: 480px;
  width: 320px;
  background: #f4f4f4;
}
#list_switch_red {
  height: 40px;
  width: 40px;
  font-size: 1.5em;
  border: none;
  background: #ecfeff;
  border-color: #ecfeff;
  color: #323232;
  cursor: pointer;
}
#list_switch_blue {
  height: 40px;
  width: 40px;
  font-size: 1.5em;
  border: none;
  background: #ecfeff;
  border-color: #ecfeff;
  color: #323232;
  cursor: pointer;
}
#list_clear{
  position: absolute;
  right: 0;
  height: 40px;
  width: 100px;
  font-size: 1.5em;
  border: none;
  background: none;
  border-color: #669b7c;
  color: #323232;
  cursor: pointer;
}
.list_top {
  background: #537791;
}
#list_type {
  box-sizing: border-box;
  font-size: 1.25em;
  padding: 15px;
  border: none;
  outline: none;
  color: #fff;
  background: #537791;
}
.list_top button {
  position: absolute;
  right: 0;
  margin: 0;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-right: 14px;
  padding-left: 14px;
  box-sizing: border-box;
  font-size: 1.25em;
  border: none;
  background: #393232;
  color: #fff;
  cursor: pointer;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  border-bottom: 1px solid #f2f2f2;
  font-size: 1.5em;
  color: #4d4545;
}
.task_finished {
  text-decoration: line-through;
}

li input {
  margin-left: 10px;
  margin-right: 10px;
}
li button {
  position: absolute;
  right: 0;
  font-size: 1em;
  border: none;
  color: #c1c0b9;
  opacity: 0;
}
li button:hover {
  opacity: 1;
}
.list_finished {
  color: #90a4ae;
}
.list_finished span{
  font-size: 1.5em;
}


.list_top_a {
  background: #f8f398;
}
.list_top_a #list_type {
  background: #f8f398;
}
.list_top_a button {
  background: #f54d42;
}

@media screen and (max-width:590px) {
  .list_wrap {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}
  li button {
  opacity: 1;
}
}